@media screen and (min-width: 769px) {
  .nav-menu {
    display: none;
  }

  .heading-text {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    align-items: center;

    padding: 24px 22px 19px 0px;
  }
  .heading-text__highlight {
    margin-bottom: auto;
    margin-top: auto;
  }
  .heading-text h1 {
    align-self: flex-end;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;

    align-items: center;
  }
  img {
    width: 531.346px;
  }
  .heading-text__repair {
    display: flex;
  }
  .content-buttons {
    display: flex;
    width: 100%;
    gap: 20px;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .content-buttons ::-webkit-scrollbar {
    display: none;
  }
  .heading-text__repair svg rect {
    transition: fill 300ms ease-in-out;
  }
  .content-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .content-container__about-text .content-container__p::after {
    content: ", что подтверждает большое количество постоянных клиентов. Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою очередь, советуют нас родным и близким.";
  }
  .read-more {
    display: flex;
    gap: 8px;
    padding-top: 12px;
  }

  .read-more__icon img {
    width: 24px;
    height: 24px;
  }
  .heading-text__repair:hover svg path {
    cursor: pointer;
  }
  .heading-text__repair:hover svg rect {
    fill: #b22f56;
    cursor: pointer;
  }
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .heading-text__repair-text {
    display: none;
  }
  .heading-text__repair {
    display: none;
  }
  .heading-text__checkstatus {
    display: none;
  }
  .heading-text__checkstatus-text {
    display: none;
  }
  .heading-text h1 {
    margin: 0;
  }
  .nav-menu__hr {
    display: none;
  }
  .mobile {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .hidden {
    display: none;
  }
  .mobile {
    display: flex;
    width: 100%;
  }
  hr {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #eaeaea;
    border: none;
  }
  .nav-menu {
    border-bottom: 1px solid #d9fff5;
    display: flex;
    justify-content: space-around;
    background: #fff;

    padding: 24px 16px 24px 16px;
    align-items: center;
  }
  .nav-menu__logo {
    padding: 0;
  }
  .content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  .content-container__about-text {
    margin-right: auto;
    margin-left: auto;
    padding-top: 5px;

    padding-bottom: 5px;
    padding-right: 0;
    padding-left: 0;
  }

  .content-buttons {
    padding: 0 24px;
  }
  .content-container__about-img {
    margin: auto;
    padding-bottom: 3px;
    padding: 0;
  }
  .content-buttons {
    width: 100%;
  }
  .read-more {
    padding: 0px 0px 10px 0px;
    width: 100%;
  }
}
